<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">

<img src="../../../assets/72729973_570401540165933_8689535210011754496_n.png" class="img-fluid"
id="fotodeperfil">
</div>

<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <div>
     <p id="nombre"> Jean pierre Pezeros Ochoa</p>
     <p>Full Stack Developer Jr</p>
     <p>Human Resources student</p>
     <p>Pilot </p>
    </div>
</div>

<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
     <span>
      <h1>Acerca de mi</h1>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique nisi 
         aspernatur iste accusamus ipsam eligendi tempora commodi repudiandae alias consectetur.
          Voluptatibus autem magni, et labore quod pariatur tempora
          aut distinctio.
        </p>
     </span>
    </div>
     </div>
