<div class="row" >
    <h1>Hard and soft skills</h1>
<div class="text center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="80"  
    [space]="-10" [radius]="100" 
    [outerStrokeWidth]="10"
    [title]="'HTML'"
    [subtitle]="'Progress'"
    [innerStrokeWidth]="10" 
    [outerStrokeColor]="'#4882c2'" 
    [innerStrokeColor]="'#e7e8ea'" 
    [animation]="true"
    [animationDuration]="500">
</circle-progress>
  </div>
  <div class="text center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="80"  
    [space]="-10" [radius]="100" 
    [outerStrokeWidth]="10"
    [title]="'HTML'"
    [subtitle]="'Progress'"
    [innerStrokeWidth]="10" 
    [outerStrokeColor]="'#4882c2'" 
    [innerStrokeColor]="'#e7e8ea'" 
    [animation]="true"
    [animationDuration]="500">
</circle-progress>
  </div><div class="text center col-sm-4 col-md-4 col-lg-4">
    <circle-progress [percent]="80"  
    [space]="-10" [radius]="100" 
    [outerStrokeWidth]="10"
    [title]="'HTML'"
    [subtitle]="'Progress'"
    [innerStrokeWidth]="10" 
    [outerStrokeColor]="'#4882c2'" 
    [innerStrokeColor]="'#e7e8ea'" 
    [animation]="true"
    [animationDuration]="500">
</circle-progress>
  </div><div class="text center col-sm-4 col-md-4 col-lg-4">
    <circle-progress  
    [percent]="95"
    [radius]="90"
  [imageSrc]="'ProyectoArgentinaPrograma_JeanPierre/ProyectoIntegradorJP/src/assets/html.png'"
    [showImage]="true"
    [imageHeight]="70"
    [imageWidth]="70"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="600"></circle-progress>

  </div><div class="text center col-sm-4 col-md-4 col-lg-4">
    <circle-progress  [percent]="95"
    [radius]="90"
  [imageSrc]="'ProyectoArgentinaPrograma_JeanPierre/ProyectoIntegradorJP/src/assets/html.png'"
    [showImage]="true"
    [imageHeight]="70"
    [imageWidth]="70"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="600">
</circle-progress>
  </div><div class="text center col-sm-4 col-md-4 col-lg-4">
    <circle-progress  [percent]="95"
    [radius]="90"
  [imageSrc]="'ProyectoArgentinaPrograma_JeanPierre/ProyectoIntegradorJP/src/assets/html.png'"
    [showImage]="true"
    [imageHeight]="70"
    [imageWidth]="70"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="600">
</circle-progress>
  </div>
  