<div class="row">
    <h1> Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11"></div>
<ul>
            <li>
                <h1> trabajo 1</h1>- <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. In,
                 mollitia aperiam dolor eos enim nulla consectetur, id quae recusandae
                laudantium architecto debitis expedita 
                quisquam nostrum cum sint consequatur minus v
                oluptatum?
            </p>
        </ul>
        <ul>
            <li>
                <h1> trabajo 1</h1>- <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. In,
                 mollitia aperiam dolor eos enim nulla consectetur, id quae recusandae
                laudantium architecto debitis expedita 
                quisquam nostrum cum sint consequatur minus v
                oluptatum?
            </p>
        </ul>
        <ul>
            <li>
                <h1> trabajo 1</h1>- <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. In,
                 mollitia aperiam dolor eos enim nulla consectetur, id quae recusandae
                laudantium architecto debitis expedita 
                quisquam nostrum cum sint consequatur minus v
                oluptatum?
            </p>
        </ul>

    </div>

